<template name="collaborators">
  {{#if isOwner}}
  <form class="ui form inverted add-collaborator item">
    <div class="field">
      <label for="email">share this doc to</label>
      <input type="email" name="email" placeholder="email@markdownerds.com">
    </div>
    <button class="ui button inverted tiny" type="submit">invite</button>
    {{#if afterInvite}}
    <div class="invite-success inverted">
      <p>Thanks. Your friend now can collaborate with you.</p>
    </div>
    {{/if}}
  </form>
  {{/if}}
  <div class="item">
    <div class="ui relaxed inverted divided list">
      <h5 class="ui header inverted">Collaborators:</h5> {{#if isOwner}} {{#each collaborators}}
      <div class="item">
        <div class="content">
          <div class="header">{{userEmailById this}}&nbsp;<a class="deleteCollab" href="#"><i class="icon remove user inverted"></i></a>
          </div>
        </div>
      </div>
      {{/each}} {{else}} {{#each collaborators}}
      <div class="item">
        <div class="content">
          <div class="header">{{userEmailById this}}</div>
        </div>
      </div>
      {{/each}} {{/if}}
    </div>
  </div>
</template>
