<template name="collaborators">
  {{#if isOwner}}
    <form class="add-collaborator">
      <input type="email" name="email" placeholder="email@markdownerds.com">
    </form>
  {{/if}}
  <h5>Collaborators:</h5>
  <ul>
  <li>
    {{userEmailById owner}} [owner]
  </li>
  
  {{#if isOwner}}
    {{#each collaborators}}
      <li>{{userEmailById this}} <a class="deleteCollab" href="#">X</a></li>
    {{/each}}
  {{else}}
    {{#each collaborators}}
      <li>{{userEmailById this}}</li>
    {{/each}}
  {{/if}}

  </ul>
</template>