<template name='sidebar'>
  <div class="ui sidebar right inverted vertical menu">
    <!-- todo: make currentUser immutable by the client -->
    <div class="item sidebar-profile">
      {{#if currentUser}}
        {{> logout}}
      {{else}}
      <a href='/signup' class='sidebar-signup no-deco-link'><button class="ui button blue inverted">Want to save this document?</button></a>
      {{/if}}
    </div>
    {{#if currentUser}}
      <a class="item" href='/'>Your documents</a> {{> collaborators this}}
    {{else}}
      <p style="color: #fff; margin: 5px;">You can share this url with anyone to collaborate. If you want to privately invite people, sign up!</p>
    {{/if}}
  </div>
</template>
