<template name="docItem">
  <div class="card {{getColor}}">
    <div class="content">
      <div class="header"><a href="{{pathFor 'workpane'}}">{{title}}</a>
      </div>
      <div class="meta">
        {{#unless isOwner}}
          <strong>Collaborator</strong>
        {{/unless}}
        <a>2001.01.01</a>
      </div>
    </div>
    <div class="extra content">
      <i class="icon share"></i>
      {{#if isOwner}}
        <i class="icon trash outline delete"></i>
      {{/if}}
    </div>
  </div>
</template>
