#editor {
    height: 700px;
    width: 100%;
}

.editor-container {
    background-color: black;
}

#preview {
    height: 700px;
    overflow: auto;
    width: 100%;
}


.workpane.ui.stackable {
    padding: 3em;
}