<template name="workpane">
  <div class="workpane ui stackable two column grid">
    <div class="column">
      <form class="ui form change-title">
        <div class="inline fields">
          <div class="field" id="style-force">
            <input type="text" name="title" value="{{title}}">
          </div>
        </div>
      </form>
      {{> sharejsAce docid=this._id id="editor" onRender=initialize}}
    </div>
    <div class="column">
      <div id="preview">
        {{#markdown}} {{markdownCode}} {{/markdown}}
        <div class="bottom-fade"></div>
      </div>
    </div>
  </div>
</template>
