#editor {
    height: 650px;
    width: 100%;
}

.editor-container {
    background-color: black;
}

#preview {
    height: 700px;
    overflow: auto;
    width: 100%;
    z-index: 1;
}


.workpane.ui.stackable {
    padding-left: 1em;
}

.bottom-fade {
    width: 100%;
    height: 130px;
    z-index: 99;
    position: fixed;
    bottom: 0px;
    background: url("/img/bottom-fade.png") bottom center;
}