<template name='signup'>
    <!-- TODO: cut down unnecessary css classes -->
  <div class="ui middle aligned center aligned grid">
    <div class="signup-container column four wide">
      <h2 class="ui image header">
      Welcome!
    </h2>
      <form id="signup-form" class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="email" id="account-email" placeholder='Email' />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" id="account-password" placeholder='Password' />
            </div>
          </div>
          <input type="submit" value="Create an Account" class="ui fluid large grey submit button" id="create-account" />
        </div>
        <div class="ui error message"></div>
      </form>
      <div class="ui message">
        Already a member? <a href="/login">Log in</a>
      </div>
    </div>
  </div>
</template>
